#izquierda {
  position: relative;
  top: 0;
  left: -300px;
  overflow: hidden;
  width: calc(100% + 300px);
  transition: all 0.5s ease;
}
#izquierda.active{
  left: 0px;
}
#paneljugador {
  width: 300px;
  height: 98.22vh;
  float: left;
  border-right: 1px solid ;
  box-sizing: border-box;
  padding-top: 90px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 600px;
}






